version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "admin"
    ports:
      - "5432:5432"
    volumes:
      - C:/DEV/Docker/postgresql:/var/lib/postgresql/data